# Python cache
__pycache__/
*.pyc

# Raw imagery / large data
data/raw/*
!data/raw/.gitkeep

# Processed data
data/processed/*
!data/processed/.gitkeep

# System files
.DS_Store
Thumbs.db

# Models folder
models/*.pth

# OSMnx cache folder
osmnx_cache/
cache/

# AUX files
*.aux
*.aux.xml